/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
    color: #333;
    line-height: 1.6;
  }
  
  /* App Container */
  :host {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  router-outlet {
    
    padding: 20px;
  }
  